# Server
PORT=3003

# Frontend
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_HOST=localhost
DATABASE_URL=postgresql://username:password@localhost:5432/nook
DATABASE_PORT=5432
DATABASE_NAME=nook
DATABASE_USER=postgres
DATABASE_PASSWORD=123456

# JWT
JWT_SECRET=replace-me

#GCP
GCS_BUCKET_NAME=use-a-configured-bucket-name

#GitHub Webhook
GITHUB_WEBHOOK_SECRET=replace-me

#RabbitMQ
RABBITMQ_URL=amqp://localhost:5672